<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="header"> 
		<img class="logo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-"> 
	<div class="navBar">
		<ul>
			<li><a href="#">Story</a></li>
			<li><a href="#">Menu</a></li>
			<li><a href="#">Reservations</a></li>
			<li><a href="#">Labeled</a></li>
		</ul>
	</div>
	<hr>
	<div class="responsive">
	<div class="mainImage">
	<img class="mainImage" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-">
	</div>
	<div class="mainContainer">
	<div class="twoColumn">
	<div id="apiDivs">
	<div class="newsApi">
	<h3>Latest News</h3>
	</div>
	<div class="specialsDiv">
	<h3>Today's Specials</h3>
	</div>
	<div class="locationsDiv">
	<h3>Location</h3>
	</div>
	</div>
	<div class="staticDivs">
	<h3 class="a1Text">Food Photos...</h3>
	<div class="img">
	<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-">
	</div>
	<div class="img">
	<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-">
	</div>
	<div class="img">
	<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-">
	</div>
	</div>
	</div>
	</div>
	

